*
!llvm/
!llvm/CMakeLists.txt
!llvm/llwm/
!llvm/llwm/*
!llvm/llwm/semacall/
!llvm/llwm/sidedata/
!llvm/llwm/register-expansion/
!llvm/llwm/semacall/*
!llvm/llwm/sidedata/*
!llvm/llwm/register-expansion/*
!llvm/lib/
!llvm/lib/Passes/
!llvm/lib/Passes/CMakeLists.txt
!llvm/lib/Passes/PassRegistry.def
!llvm/lib/Passes/Polynoms.cpp
!llvm/lib/Passes/Sidedata.cpp
!llvm/lib/Passes/PassBuilder.cpp
!llvm/lib/Passes/SemaCall.cpp
!llvm/lib/Passes/RegisterExpansion.cpp
!llvm/lib/Llwm/
!llvm/lib/Llwm/*
!llvm/lib/Llwm/CMakeLists.txt
!llvm/include/
!llvm/include/llwm/
!llvm/include/llwm/*
!llvm/include/llwm/semacall/
!llvm/include/llwm/register-expansion/
!llvm/include/llwm/semacall/*
!llvm/include/llwm/register-expansion/*
!clang/
!clang/include/
!clang/include/clang/
!clang/include/clang/Basic/
!clang/include/clang/Basic/CodeGenOptions.h
!clang/include/clang/Driver/
!clang/include/clang/Driver/Options.td
!clang/include/clang/Basic/CodeGenOptions.h
!clang/include/clang/Basic/CodeGenOptions.h
!clang/lib/
!clang/lib/CodeGen/
!clang/lib/CodeGen/BackendUtil.cpp
!clang/lib/Frontend/
!clang/lib/Frontend/CompilerInvocation.cpp
!clang/lib/Driver/
!clang/lib/Driver/ToolChains/
!clang/lib/Driver/ToolChains/Clang.cpp
!.gitignore
!init_llvm.sh
